* {
	box-sizing: border-box;
}



body {
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin: 10px auto;
	color: #000000;
	max-width: 900px;
}

#main {
	float: left;
	width: 66%;
}
h1	{
	display: inline;
	font-size: 60px;
	font-weight: lighter;
	color: #F9D483;
	text-decoration: none;
	margin-right: 20px;
}
h1 a {
	font-size: 60px;
	font-weight: lighter;
	color: #F9D483;
	text-decoration: none;

}
h2 {
	display: inline;
	font-size: 30px;
	font-weight: lighter;
	color: #000000;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	font-weight: lighter;
	color: white;
	text-decoration: none;
	margin: 20px 0 0px 0;
	padding: 10px 20px 20px 10px;
	background-color: #D2D2D2

}
h3 {
	font-size: 40px;
	font-weight: lighter;
	color: #D2D2D2;
	margin: 80px 0px 0px 0px;
}
h2 a {
	font-size: 40px;
	color: #000000;
	text-decoration: none;
}

.continues {
	font-size: 20px;
	text-align: right;
	margin: 20px 20px 0px 10px;
	padding-bottom: 20px; 
}

	.continues > a {
		color: #F9D483;
		text-decoration: none; }

		.drop-cap {
			font-size: 98px;
			color: #D2D2D2;
			float: left;
			margin: -22px 12px -12px 0;
			line-height: normal;
		}
		.spacious {
			line-height: 25px;
		}
		img {
			max-width: 100%;
		}
		section {
			width: 70%;
			float: left;
			padding-right: 50px;
		}
		aside{
			width: 30%;
			float: left;
			padding-top: 80px;
			text-decoration: none;
		}
		.more {
			font-size: 20px;
			font-weight: bolder;
			text-align: right;
			margin: 20px 20px 0px 10px;
			padding-bottom: 20px; 
		}

		.navbar2 {
			font-size: 18px;
			font-weight: lighter;
			color: #F9D483;
			text-decoration: none;
		}
		.module {
			font-size: 18px;
			font-weight: lighter;
			color: #grey;
			
		}
		.module a {
			font-size: 18px;
			font-weight: lighter;
			color: #F9D483;
			text-decoration: none;
		}
		.footer {
			clear:both;
			font-size: 10px;
			font-weight: lighter;
			color: #D2D2D2;
			margin: 20px; 
		}




